:root {
  --green: rgb(15, 179, 64);
  --blue:  rgb(53, 14, 224);
  --red:  #ec0e0ee3;
  --font-size: 1em;
}

body {
  background-color: #0f0f0f;
}
.cubes {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-top: 0;
  align-items: flex-end;
  height: 20vh;
  max-width: 90%;
}

.line {
  background-color: rgb(15, 179, 64);
}
.cube {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ff6401;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  background-color: var(--blue);
}
.select2 {
  background-color: var(--red);
}
.indi {
  width: 1rem;
  height: 1rem;
  border: 1px solid gray;
}
footer {
  display: flex;
}

button {
  border-radius: 0;
  border: none;
  outline: none;
  padding: .5em;
  background-color: var(--green);
  cursor: pointer;
}
button:active {
  color: var(--blue);
}
section {
  margin: 5%;
  margin-bottom: 10em;
}

nav {
  display: flex;
  color: var(--green);
  background-color: #150b7281;
  font-size: calc(var(--font-size) * 1);
  justify-content: space-around;
}

nav a{
  list-style: none;
  text-decoration: none;
  padding: .5rem 0;
}

nav a:hover {
  color: var(--red);
  cursor: pointer;
}
nav h2:selected {
  color: var(--red);
}

.m-top {
  padding-top: 25vh;
}

@media (min-width: 720px){
  .cubes {
    max-width: 50%;
    margin-top: 0;
    margin-left: 25%;
  }
  main{
    text-align: center;
    align-items: center;
  }
  nav {
    padding: 0 15%;
  }
  
}