:root {
  --green: rgb(15, 179, 64);
  --blue:  rgb(224, 14, 154);
  --red:  #ec0e0ee3;
  --white: #FFFFFF;
  --font-size: 1em;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'STIX Two Math', serif;
}

body {
  background-color: #0f0f0f;
}
.cubes {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-top: 0;
  align-items: flex-end;
  height: 20vh;
  max-width: 90%;
}

.line {
  background-color: rgb(15, 179, 64);
  border-radius: 2rem;
  color: #fff;
  font-size: 3rem;
}
.cube {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ff6401;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.select {
  background-color: var(--blue);
}
.select2 {
  background-color: var(--red);

}
.select2 {
  animation-name: blop;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running
}

@keyframes blop {
  0% {
    transform: scale(0.9);
  }

  50% {
    background: rgb(15,179,64);
    background: radial-gradient(circle, rgba(231,7,7,1) 100%, rgba(15,179,64,1) 0%);
  }

  75% {
    transform: scale(1.02);
    background: rgb(15,179,64);
    background: radial-gradient(circle, rgba(15,179,64,1) 0%, rgba(231,7,7,1) 100%);
  }

  100% {
    transform: scale(1);
    background-color: var(--red);
  }
}
.indi {
  width: 1rem;
  height: 1rem;
  border: 1px solid gray;
}
footer {
  display: flex;
}

button {
  border-radius: 0;
  border: none;
  outline: none;
  padding: .5em;
  background-color: var(--green);
  cursor: pointer;
  margin-bottom: .2rem;
}
button:active {
  color: var(--blue);
}
section {
  margin: 5%;
  margin-bottom: 10em;
}
nav {
  margin-top: -1rem;
  padding: 0;
  position: sticky;
  top: 0;
}
nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  color: var(--green);
  background-color: #150b7281;
  font-size: calc(var(--font-size) * 1);
  justify-content: space-around;
  
}

nav a{
  list-style: none;
  text-decoration: none;
  padding: .5rem 0;
}

nav a:hover {
  color: var(--red);
  cursor: pointer;
}
nav h2:selected {
  color: var(--red);
}

.m-top {
  padding-top: 25vh;
}
.s-around{
  display: flex;
  justify-content: space-between;
}

@media (min-width: 720px){
  .cubes {
    max-width: 50%;
    margin-top: 0;
    margin-left: 25%;
  }
  main{
    text-align: center;
    align-items: center;
  }
  nav ul{
    padding: 0 15%;
  }
  .s-around{
    display: flex;
    justify-content: space-around;
  }
  
}